<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/bs/css/bootstrap.min.css">
    <script src="__STATIC__/bs/js/bootstrap.min.js"></script>
    <script src="__STATIC__/bs/js/jquery.min.js"></script>
    <title>用户查询</title>
</head>

<body>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="btn btn-success">添加用户页面</div>
                <a href="../Database" class="btn btn-danger"> 查看用户</a>
            </div>
            <div class="panel-body">
                <form action="{:url('save')}" method="POST">
                    <div class="form-group">
                        <label for="">User</label>
                        <input placeholder="请输入用户名" type="text" name="name" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label for="">Pass</label>
                        <input placeholder="请输入密码" type="password" name="pass" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <label for="">Tel</label>
                        <input placeholder="请输入电话" type="text" name="tel" class="form-control" id="">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="提交" class="btn-success">
                        <input type="reset" value="取消" class="btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>